.cartView .topCart{
    border-style: solid;
    margin: 20px;
    border-radius: 50px;
    padding: 30px;
}
.topCart{
    text-decoration: none;
    color: black;
    font-family: "Jersey 25", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}
.topCart .cartItem{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0px;
}
.topCart .cartItem div{
    margin: 0px 15px;
}
.topCart .cartItem .cartItemPhoto{
    width: 20%;
    display: flex;
    justify-content: center;
}
.topCart .cartItem .cartItemName{
    width: 20%;
}
.topCart .cartItem .cartItemPhoto img{
    height: 120px
}
.topCart .cartItem .cartItemAmount{
    width: 15%;
}
hr{
    width: 60%;
    border-color: black;

}
.bottomCart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.bottomCart .buyCart{
    padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 40px 250px;
  font-size: 20px;
  text-decoration: none;
    font-family: "Jersey 25", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  margin-right: 200px;
}
.bottomCart .buyCart:before{
    content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .bottomCart .buyCart:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .deleteCart {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .deleteCart-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .deleteCart-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .deleteCart-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .deleteCart-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .deleteCart:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .deleteCart:hover .deleteCart-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .deleteCart:active .deleteCart-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .deleteCart:hover .deleteCart-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .deleteCart:active .deleteCart-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .deleteCart:focus:not(:focus-visible) {
    outline: none;
  }

.noItemsOnCart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.noItemsOnCart h1{
  text-decoration: none;
    color: black;
    font-family: "Jersey 25", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
}
.goHomeButton {
  padding: 30px 100px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
    font-family: "Jersey 25", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
}

.goHomeButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.goHomeButton:active{
  animation: slowScaleAnimation 0.02s ease-in-out forwards;
}
@keyframes slowScaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.goHomeButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.cartItemMinus {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 30px;
}

.cartItemMinus-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.cartItemMinus-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.cartItemMinus-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .cartItemMinus-front {
    font-size: 1.25rem;
    padding: 12px 20px;
  }
}

.cartItemMinus:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.cartItemMinus:hover .cartItemMinus-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.cartItemMinus:active .cartItemMinus-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.cartItemMinus:hover .cartItemMinus-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.cartItemMinus:active .cartItemMinus-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.cartItemMinus:focus:not(:focus-visible) {
  outline: none;
}
.cartItemPlus {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20px;
}

.cartItemPlus-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.cartItemPlus-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(146deg, 50%, 36%) 0%,
    hsl(158deg, 73%, 35%) 8%,
    hsl(158deg, 73%, 35%) 92%,
    hsl(146deg, 50%, 36%) 100%
  );
}

.cartItemPlus-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(147deg, 50%, 47%) ;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .cartItemPlus-front {
    font-size: 1.25rem;
    padding: 12px 20px;
  }
}

.cartItemPlus:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.cartItemPlus:hover .cartItemPlus-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.cartItemPlus:active .cartItemPlus-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.cartItemPlus:hover .cartItemPlus-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.cartItemPlus:active .cartItemPlus-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.cartItemPlus:focus:not(:focus-visible) {
  outline: none;
}
#onHoverButtonDetail:before{
  content: "";
background: linear-gradient(
  45deg,
  #48ff00,
  #48ff00,
  #48ff00,
  #48ff00,
  #48ff00,
  #48ff00,
  #48ff00,
  #48ff00,
  #48ff00
);
}